name: Release toolchian

on: 
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Package luckfox-pico
        run: |
          tar -czf arm-rockchip830-linux-uclibcgnueabihf-toolchain.tar.gz luckfox-pico/toolchain
          tar -czf arm-rockchip830-linux-uclibcgnueabihf-prebuilt.tar.gz luckfox-pico/prebuilt

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.sha }}
          name: Release ${{ github.sha }}
          files: |
            arm-rockchip830-linux-uclibcgnueabihf-toolchain.tar.gz
            arm-rockchip830-linux-uclibcgnueabihf-prebuilt.tar.gz
